<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Another Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css">
  
</head>

<body>
  
    <header>
        <h1>
        Welcome to Another Tech Blog
        </h1>
    </header>
   
      <nav>
        <!-- Conditionally render login or logout links -->
        <a href="/">Homepage</a> 
        {{#if logged_in}}
        <button class="in-out-button" id="logout">logout</button>
        {{else}}
        <a href="/login_signup">login</a>
        {{/if}}
      </nav>

    </header>

    <main class="container container-fluid mt-5">
        <h2>Posts</h2>
        <div>
             <!-- Render the sub layout -->
            {{{ body }}}
        </div>
    </main>
  

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="../../public/javascript/logout.js"></script>
  {{else}}
  <script src="../../public/javascript/login.js"></script>
  {{/if}}
</body>

</html>